body{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}

.contribution-form{
    max-width: 600px;
    width:90%;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: 1px solid red;
}
.bird-label{
    max-width: 450px;
    line-height: 1.5;

    display: block;
}
@media (max-width: 600px) {
    .bird-label {
        max-width: 80%; /* Adjust for smaller screens */
    }
}
.form-input{
    position:relative;
    margin-bottom: 10px;;
}
.form-input button{
    margin: 5px;
}

#bird-info{
    margin-top: 10px;
    min-height:100px;
    width:400px;
}
@media (max-width: 600px) {
    .contribution-form {
        padding: 15px;
        border-width: 1px;
    }

    .bird-label {
        max-width: 100%;
    }

    #bird-info {
        width: 100%;
    }

    input[type="text"],
    input[type="file"],
    select,
    textarea {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.4rem;
        text-align: center;
    }
}